<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBILoggerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://bizintel-ws.intranet.gdg/BILogger/BILoggerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBILoggerService"
                contract="BILoggerService.IBILoggerService" name="BasicHttpBinding_IBILoggerService" />
        </client>
    </system.serviceModel>
</configuration>